# =========================================================
# SECRETOS Y VARIABLES DE ENTORNO
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# BASES DE DATOS LOCALES Y RESPALDOS
# =========================================================
db.sqlite3
*.sqlite3
*.sql
*.dump
*.bak

# =========================================================
# PYTHON
# =========================================================
__pycache__/
*.py[cod]
*$py.class

# =========================================================
# DJANGO / LOGS / TEMPORALES
# =========================================================
*.log
*.tmp

# =========================================================
# ENTORNOS VIRTUALES
# =========================================================
venv/
.venv/
env/

# =========================================================
# IDE
# =========================================================
.vscode/
.idea/

# =========================================================
# ARCHIVOS DE RESPALDO
# =========================================================
backup_*
