asgiref==3.11.1
colorama==0.4.6
diff-match-patch==20241021
dj-database-url==3.1.2
Django==5.2.17
django-import-export==4.4.1
et_xmlfile==2.0.0
gunicorn==23.0.0
mysqlclient==2.2.8
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
pytz==2026.2
qrcode==8.2
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
python-dotenv==1.1.1
pandas==3.0.5
